:root {
  --primary: #0077ff;
  --background: #f0f7ff;
  --typo: #001833;
  --success: #00f2b8;
  --warning: #fe9f2f;
  --error: #fa113d;
  --dark1: #006be5;
  --dark2: #005fcc;
  --light1: #0077ff;
  --light2: #60aaff;
  --light3: #BFDDFF;
}
